/* custom property */
:root {
	--global-color-1: #800000;
}

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
	width: 800px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #931420;
	background-color: #fffded;
}
html {
	background-color: white;
}
a:focus, a:hover {
	font-style: italic;
}
header {
	border: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-image: linear-gradient(30deg , #f6bb73, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73);
}
/* the styles for the header */
header h2 {
	font-size: 175%;
	color: var(--global-color-1);
	
}
header h3 {
	font-size: 130%;
	font-style: italic;
	
}
header img {
	float: left;
	padding-right: 30px;
	padding-left: 30px;
}
.shadow {
	text-shadow: 2px 2px 2px var(--global-color-1);
}
/* the styles for the main content */
main {
	clear: left;
}
main section h2 {
	color: var(--global-color-1);
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
main aside h2 {
	color: var(--global-color-1);
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
main aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
main aside img {
	padding-bottom: 1em;
}
main section p {
	padding-bottom: .5em;
}
main blockquote {
	padding: 0 2em;
	font-style: italic;
}
main section ul {
	padding: 0 0 .25em 1.25em;
}
main section li {
	padding-bottom: .35em;
}

/* the styles for the footer */
footer p {
	text-align: center;
	padding: 1em 0;
	color: white;

}
footer {
	background-color: #931420;
	clear: right;
}
* {
	padding: 0;
	margin: 0;
}
blockqoute section {
	font-style: italic;
}
aside img {
	padding-bottom: 1em;
}
